@import "_constant";

.badge{
    display: inline-block;
    border-radius: 12px;
    background-color: $gray-light;
    padding: 4px 9px;
    font-size: 12px;
    cursor: default;
    font-weight: bold;
    color: $white;
    &:empty{
        display: none;
    }
    &.badge-{
        &primary{
            background-color: $primary;
        }
        &success{
            background-color: $success;
        }
        &warning{
            background-color: $warning;
        }
        &info{
            background-color: $info;
        }
        &danger{
            background-color: $danger;
        }
    }
}