@import "_constant";

/* Background color classes */
.bg-{
  &white{
    background-color: $white;
  }
  &black{
    background-color: $black;
  }
  &gray-darker{
    background-color: $gray-darker;
  }
  &gray-dark{
    background-color: $gray-dark;
  }
  &gray{
    background-color: $gray;
  }
  &gray-light{
    background-color: $gray-light;
  }
  &gray-lighter{
    background-color: $gray-lighter;
  }
  &primary{
    background-color: $primary;
  }
  &success{
    background-color: $success;
  }
  &info{
    background-color: $info;
  }
  &warning{
    background-color: $warning;
  }
  &danger{
    background-color: $danger;
  }
}

/* Font Color Classes*/
.color-{
  &white{
    color: $white;
  }
  &black{
    color: $black;
  }
  &gray-darker{
    color: $gray-darker;
  }
  &gray-dark{
    color: $gray-dark;
  }
  &gray{
    color: $gray;
  }
  &gray-light{
    color: $gray-light;
  }
  &gray-lighter{
    color: $gray-lighter;
  }
  &primary{
    color: $primary;
  }
  &success{
    color: $success;
  }
  &info{
    color: $info;
  }
  &warning{
    color: $warning;
  }
  &danger{
    color: $danger;
  }
}
