/*Global Color constants*/
$black: #000000;
$white: #FFFFFF;

$gray-darker: #212121;
$gray-dark: #666666;
$gray: #878787;
$gray-light: #dcdcdc;;
$gray-light1: #dfdfdf;;
$gray-lighter: #f7f7f9;

$success: #2ecd99;
$success-light: #4BD2A6;

$danger: #ed6f56;
$danger-light: #ED836D;

$primary: #4e9de6;
$primary-light: #67AAE7;

$info: #5bc0de;
$info-light: #31b0d5;

$warning: #f0c541;
$warning-light: #F0CB5C;

/*Brand Color*/
$theme: #37536c;

/*Responsive Break points*/
$desktop: "(min-width:1200px)";

$tablet_landscape: "(min-width: 980px) and (max-width: 1199px)";
$tablet_portrait: "(min-width: 768px) and (max-width: 979px)";

$tablet: "(min-width: 568px) and (max-width:767px)"; /*Set for iPhone 5 and above*/
$mobile_landscape: "(min-width: 480px) and (max-width: 567px)";

$mobile_portrait : "(min-width:50px) and (max-width: 479px)";
