@import "_constant";
@import "_mixins";

input[type="file"] {
  display: block;
}

.input-group {
  padding-bottom: 10px;
  .input-label {
    display: block;
    padding-bottom: 4px;
  }
  .input-control {
    width: 226px;
    padding: 5px 10px 4px 10px;
    font-size: 14px;
    border: 1px solid $gray-light;
    @include transition(border-color ease-in-out .15s);
    &:focus {
      border-color: $primary;
      outline: 0;
    }
    &.valid {
      border-color: $success;
    }
    &.invalid {
      border-color: $danger;
    }
  }
  .input-with-icon {
    overflow: hidden;
    .icon {
      width: 46px;
    }
    .input-control {
      width: 180px;
      border-left: 0;
    }
    .icon, .input-control {
      float: left;
    }
  }
}

/*Checkbox*/
.checkbox-control, .radio-control {
  position: relative;
  display: inline-block;
  height: 20px;
  input {
    position: absolute;
    opacity: 0;
    &:focus + label, &:hover + label {
      &:before {
        background-color: $info;
      }
    }
    &:checked + label {
      &:before {
        background-color: $info;
      }
      &:after {
        content: '';
        position: absolute;
        top: 3px;
        left: 6px;
        width: 4px;
        height: 9px;
        border: solid $white;
        border-width: 0 3px 3px 0;
        transform: rotate(40deg);
        z-index: 2;
        cursor: pointer;
      }
    }
  }
  label {
    display: block;
    padding: 2px 0 2px 25px;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 20px;
      width: 20px;
      background: $gray-light;
      z-index: 1;
      cursor: pointer;
    }
  }
}

/*Radio*/
.radio-control label {
  margin-right: 5px;
  &:before {
    top: 2px;
    border-radius: 50%;
  }
}

.radio-control input {
  &:checked + label:after {
    height: 8px;
    width: 8px;
    background: $white;
    border-radius: 50%;
    top: 8px;
    left: 6px;
    border-width: 0;
  }
}

/*Drop Down*/
.select-control {
  position: relative;
  display: inline-block;
  width: 226px;
  > select {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
    &:focus {
      + .select-value {
        border: 1px solid $primary;
      }
    }
    &[disabled] {
      cursor: not-allowed;
      + .select-value {
        opacity: 0.5;
        &:after {
          border-top-color: $gray-light;
        }
      }
    }
  }
  .select-value {
    display: block;
    padding: 6px 20px 6px 10px;
    font-size: 14px;
    border: 1px solid $gray-light;
    background: $white;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    &:after {
      content: '';
      position: absolute;
      right: 10px;
      top: 12px;
      width: 0;
      height: 0;
      border: 6px solid transparent;
      border-top-color: $gray-dark;
      z-index: 1;
    }
  }
}

/* Toggle Switch*/
.toggle-switch {
  position: relative;
  display: inline-block;
  width: 52px;
  height: 25px;
  input {
    display: none;
    &:checked + .toggle-slider {
      background-color: $primary;
    }

    &:focus + .toggle-slider {
      box-shadow: 0 0 1px $primary;
    }

    &:checked + .toggle-slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }

  }
}

.toggle-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $gray;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 12px;
  &:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    left: 4px;
    bottom: 4px;
    background-color: $white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
  }
}

/* Date Picker */

.date-picker {
  position: relative;
  display: inline-block;
  input[type="date"] {
    background-color: transparent;
    position: relative;
    z-index: 2;
    text-transform: uppercase;
  }
  > div {
    position: absolute;
    bottom: 12px;
    right: -2px;
    width: 32px;
    height: 28px;
    border: 2px solid $primary;
    border-top-width: 4px;
    border-radius: 4px;
    z-index: 0;
    transform: scale(0.5);
    &:before {
      position: absolute;
      content: '';
      pointer-events: none;
      width: 4px;
      height: 4px;
      top: 3px;
      left: 3px;
      box-shadow: inset 0 0 0 32px, 6px 0, 12px 0, 18px 0, 0 6px, 6px 6px, 12px 6px, 18px 6px, 0 12px, 6px 12px, 12px 12px, 18px 12px;
    }
    &:after {
      position: absolute;
      content: '';
      pointer-events: none;
      width: 4px;
      height: 8px;
      box-shadow: inset 0 0 0 32px, 16px 0;
      border-radius: 4px;
      top: -8px;
      left: 4px;
    }
  }
}

