.grid-row{
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    margin-left: -15px;
    > .grid-block{
        flex: 1;
        -webkit-flex: 1;
        align-items: flex-start;
        -webkit-align-items: flex-start;
         padding-left: 15px;
        &.cell-1of2{
            flex: 0 0 50%;
        }
        &.cell-1of3{
            flex: 0 0 33.3333%;
        }
        &.cell-1of4{
            flex: 0 0 25%;
        }
        &.cell-1of5{
            flex: 0 0 20%;
        }
    }
}