@import "_constant";

.header, header{
    height: 50px;
    background-color: $theme;
    > .container{
        height: 100%;
    }
    .logo{
        font-weight: bold;
        font-size: 20px;
        color: $white;
        i.fa {
            background: $white;
            border-radius: 50%;
            color: $theme;
            width: 37px;
            text-align: center;
            padding: 8px;
        }
    }
}