@import "_constant";
@import "_mixins";

.text- {
  &left {
    text-align: left
  }
  &center {
    text-align: center
  }
  &right {
    text-align: right
  }
  &justify {
    text-align: justify
  }
  &ellipsis {
    @include text-ellipsis;
  }
}

.lowercase {
  text-transform: lowercase
}

.capitalize {
  text-transform: capitalize
}

.uppercase {
  text-transform: uppercase
}

.small-caps {
  font-variant: small-caps;
}

.font-semi-bold {
  font-weight: 400;
}

.font-bold {
  font-weight: 700;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.fixed {
  position: fixed
}

.absolute {
  position: absolute
}

.relative {
  position: relative
}

.cur-pointer {
  cursor: pointer;
}

.cur-default {
  cursor: default;
}

.f- {
  &left {
    float: left
  }
  &right {
    float: right
  }
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-auto {
  overflow: auto;
}

.overflow-x-auto {
  overflow-x: auto;
}

.overflow-y-auto {
  overflow-y: auto;
}

.height-100{
  height: 100%;
}

.width-100{
  width: 100%;
}

.no-wrap {
  white-space: nowrap;
}

.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.hide {
  display: none;
  speak: none
}

.show- {
  &inline {
    display: inline;
    speak: normal;
    &-block {
      display: inline-block;
      speak: normal;
    }
  }
  &block {
    display: block;
    speak: normal;
  }
}

@mixin model-item($val) {
  .mar-#{$val} {
    margin: #{$val}px;
  }

  .mar-tb-#{$val} {
    margin-top: #{$val}px;
    margin-bottom: #{$val}px;
  }

  .mar-lr-#{$val} {
    margin-left: #{$val}px;
    margin-right: #{$val}px;
  }

  .mar-t-#{$val} {
    margin-top: #{$val}px;
  }

  .mar-l-#{$val} {
    margin-left: #{$val}px;
  }

  .mar-r-#{$val} {
    margin-right: #{$val}px;
  }
  .mar-b-#{$val} {
    margin-bottom: #{$val}px;
  }

  .pad-#{$val} {
    padding: #{$val}px;
  }

  .pad-tb-#{$val} {
    padding-top: #{$val}px;
    padding-bottom: #{$val}px;
  }

  .pad-lr-#{$val} {
    padding-left: #{$val}px;
    padding-right: #{$val}px;
  }

  .pad-lt-#{$val} {
    padding-left: #{$val}px;
    padding-top: #{$val}px;
  }

  .pad-t-#{$val} {
    padding-top: #{$val}px;
  }

  .pad-l-#{$val} {
    padding-left: #{$val}px;
  }

  .pad-r-#{$val} {
    padding-right: #{$val}px;
  }
  .pad-b-#{$val} {
    padding-bottom: #{$val}px;
  }
}

@mixin box-model($collection) {
  @for $i from 0 to length($collection) {
    $item: nth($collection, $i+1);
    @include model-item(nth($item, 1));
  }
}

@include box-model(((30), (25), (20), (15), (10), (5), (0)));


/*Border classes*/
.bor- {
  &t- {
    &black {
      border-top: 1px solid $black;
    }
  }
  &r- {
    &black {
      border-right: 1px solid $black;
    }
  }
  &b- {
    &black {
      border-bottom: 1px solid $black;
    }
  }
  &l- {
    &black {
      border-left: 1px solid $black;
    }
  }
  &t- {
    &white {
      border-top: 1px solid $white;
    }
  }
  &r- {
    &white {
      border-right: 1px solid $white;
    }
  }
  &b- {
    &white {
      border-bottom: 1px solid $white;
    }
  }
  &l- {
    &white {
      border-left: 1px solid $white;
    }
  }

  &t- {
    &gray-darker {
      border-top: 1px solid $gray-darker;
    }
  }
  &r- {
    &gray-darker {
      border-right: 1px solid $gray-darker;
    }
  }
  &b- {
    &gray-darker {
      border-bottom: 1px solid $gray-darker;
    }
  }
  &l- {
    &gray-darker {
      border-left: 1px solid $gray-darker;
    }
  }

  &t- {
    &gray-dark {
      border-top: 1px solid $gray-dark;
    }
  }
  &r- {
    &gray-dark {
      border-right: 1px solid $gray-dark;
    }
  }
  &b- {
    &gray-dark {
      border-bottom: 1px solid $gray-dark;
    }
  }
  &l- {
    &gray-dark {
      border-left: 1px solid $gray-dark;
    }
  }

  &t- {
    &gray {
      border-top: 1px solid $gray;
    }
  }
  &r- {
    &gray {
      border-right: 1px solid $gray;
    }
  }
  &b- {
    &gray {
      border-bottom: 1px solid $gray;
    }
  }
  &l- {
    &gray {
      border-left: 1px solid $gray;
    }
  }

  &t- {
    &gray-light {
      border-top: 1px solid $gray-light;
    }
  }
  &r- {
    &gray-light {
      border-right: 1px solid $gray-light;
    }
  }
  &b- {
    &gray-light {
      border-bottom: 1px solid $gray-light;
    }
  }
  &l- {
    &gray-light {
      border-left: 1px solid $gray-light;
    }
  }

  &t- {
    &gray-lighter {
      border-top: 1px solid $gray-lighter;
    }
  }
  &r- {
    &gray-lighter {
      border-right: 1px solid $gray-lighter;
    }
  }
  &b- {
    &gray-lighter {
      border-bottom: 1px solid $gray-lighter;
    }
  }
  &l- {
    &gray-lighter {
      border-left: 1px solid $gray-lighter;
    }
  }

}