@import "_constant";
@import "_mixins";

.list-view{
    background-color: $white;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    li{
        padding: 12px;
        border-top: 1px solid $gray-light;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        &:before{
            border-left: 3px solid $primary;
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 0;
            transition: height linear 0.2s;
        }
        &:hover:not(.active){
            background-color: $gray-lighter;
        }
        div.list-item {
           @include text-ellipsis;
        }
        &.with-badge{
            div.list-item{
                width: 88%;
            }
            .badge{
                padding: 1px 8px;
                font-size: 11px;
            }
        }
        &:first-child{
            border-top: none;
        }
        &.active{
            cursor: default;
            font-weight: bold;
            &:before{
                height: 100%;
            }
        }
        i.fa{
            margin-right: 5px;
        }
    }
}