@import "_constant";

.modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 999;
    overflow-y: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    .modal-content{
        background: $white;
        width: 600px;
    }
    &.modal-small {
       .modal-content{
           width: 300px;
       }
    }
    &.modal-large {
       .modal-content{
           width: 80%;
       }
    }
    .modal-header{
        padding: 10px;
        display: flex;
        justify-content: space-between;
    }
    .modal-header{
        border-bottom: 1px solid $gray-light;
        font-weight: bold;
        .modal-close{
            font-size: 22px;
            line-height: 16px;
            cursor: pointer;
            color: $gray-dark;
        }
    }
    .modal-data{
        padding: 10px;
    }
    .modal-footer{
        border-top: 1px solid $gray-light;
        padding: 10px;
    }
}