@import "_constant";

.nav, nav{
    background: $white;
    border-bottom: 1px solid $gray-light;
    ul{
        display: flex;
        flex-wrap: wrap; 
        > li{
            border-right: 1px solid $gray-light;
            text-align: center;
            &:first-child{
                border-left: 1px solid $gray-light;
            }
            > a{
                display: block;
                padding: 9px 15px;
                font-size: 12px;
                font-weight: 700;
                color: $gray-dark;
                &:focus, &:hover{
                    color: $gray-darker;
                    text-decoration: none;
                }
                > i.fa{
                    display: inline-block;
                    width: 24px;
                    height: 24px;
                    font-size: 18px;
                }
                span{
                    display: block;
                }
            }
            &.active{
                border-bottom: 3px solid $danger;
                a{  
                    color: $gray-darker;
                }
            }
        }
    }
}