@import "_constant";
@import "_mixins";

.alert {
  border: 1px solid $gray-light;
  background-color: $gray-lighter;
  position: relative;
  padding-left: 55px;
  > .icon {
    position: absolute;
    top: -1px;
    left: -1px;
    bottom: -1px;
    padding: 18px 20px;
    font-size: 25px;
    color: $white;
    width: 60px;
  }
  &.error .icon {
    background-color: $danger;
  }
  &.warning .icon {
    background-color: $warning;
  }
  &.info .icon {
    background-color: $info;
  }
  &.success .icon {
    background-color: $success;
  }
  > .message {
    flex: 1;
  }
  > .close {
    border: 1px solid $gray-light;
    font-size: 21px;
    padding: 6px 10px;
    cursor: pointer;
    line-height: 16px;
  }
}

/*notify window*/
.notification {
  @include transition(background-color .3s ease);
  .notify-icon {
    color: $white;
    cursor: pointer;
    width: 15px;
    height: 15px;
    font-size: 15px;
    margin: 17px 15px;
    position: relative;
    .badge {
      position: absolute;
      padding: 1px 3px;
      top: -8px;
      right: -3px;
      font-size: 9px;
    }
    &:before {
      content: '';
      position: absolute;
      bottom: -18px;
      left: -3px;
      height: 0;
      width: 0;
      border: 10px solid transparent;
      border-bottom-color: $gray-light;
      display: none;
    }
  }
  .notify-box {
    background: $white;
    position: absolute;
    border: 1px solid $gray-light;
    border-top-width: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    top: 50px;
    right: 0;
    width: 290px;
    z-index: 999;
    display: none;
    .notify-content {
      max-height: 250px;
      overflow-y: auto;
      li {
        border-bottom: 1px solid $gray-light;
        cursor: pointer;
        padding: 10px;
        @include text-ellipsis;
        &:hover {
          background-color: $gray-lighter;
        }
        &:first-child {
          border-top: 1px solid $gray-light;
        }
      }
    }
  }
  &.active {
    background-color: rgba(0, 0, 0, 0.2);
  }
  &.active {
    .notify-box {
      display: block;
    }
    .notify-icon:before {
      display: block;
    }
  }
}