@import "_constant";

.pagination{
    ul{
        display: inline-flex;
        margin: 10px 0;
        border-left: 1px solid $gray-light;
        li{
            border: 1px solid $gray-light;
            border-left-width: 0;
            padding: 7px 14px;
            cursor: pointer;
            &:hover{
                background-color: $gray-lighter;
            }
            &.selected{
                background-color: $primary;
                border-top-color: $primary;
                border-bottom-color: $primary;
                color: $white;
                cursor: default;
                pointer-events: none;
                font-weight: bold;
            }
            &.disabled{
                background-color: $gray-lighter;
                pointer-events: none;
                color: $gray-light;
            }
        }
    }
}