@import "constant";

.panel{
    box-shadow: 0 1px 1px rgba(0,0,0,0.2);
    border-top: 3px solid $gray-light;
    .panel-title{
        font-size: 12px;
    }
    .panel-header{
        &.separator{
            border-bottom: 1px solid $gray-light;
        }   
    }
    .panel-data{
        padding: 10px;
    }
    .panel-footer{
        &.separator{
            border-top: 1px solid $gray-light;
        }
    }
    &.panel-primary{
        border-top-color: $primary;
    }
    &.panel-success{
        border-top-color: $success;
    }
    &.panel-warning{
        border-top-color: $warning;
    }
    &.panel-info{
        border-top-color: $info;
    }
    &.panel-danger{
        border-top-color: $danger;
    }
}