@media print {
  .hide-on-print {
    display: none;
  }

  .hidden-on-print {
    visibility: hidden;
  }

  .visible-on-print {
    visibility: visible;
  }

  .show-on-print- {
    &inline {
      display: inline;
      &-block {
        display: inline-block;
      }
    }
    &block {
      display: block;
    }
  }
}
