@import "_constant";

@media #{$desktop},#{$tablet_landscape},#{$tablet_portrait}{
    .container{
        width: 90%;
    }
    .hidden-lg{
         display: none !important;
     }
}
 @media #{$tablet},#{$mobile_landscape},#{$mobile_portrait}{
     .hidden-sm{
         display: none !important;
     }

     .flex-responsive{
       display: block;
     }
     /*Layout*/
     .container{
        padding-left: 15px;
        padding-right: 15px;
    }
     /*Grid*/
     .grid-row{
         display: block;
         > .grid-block{
             margin-left: 0;
             margin-bottom: 10px;
              &.cell-1of2, &.cell-1of3, &.cell-1of4, &.cell-1of5{
                  width: 100%
            }
         }
     }
     
     /*Navigation*/
     .nav, nav{
         ul{
             >li{
                 width: 33.33%;
                 border-right: 0;
                 &:first-child{
                     border-left: 0;
                 }
             }
         }
     }
     
     /*Tabs*/
      .tabs .tab-nav ul li{
        min-width: auto;
        flex: 1;
    }
 }
