@import "constant";

table {
  background-color: $white;
  table-layout: fixed;
  border-top: 1px solid $gray-light;
  th, td {
    padding: 8px 12px;
    border-bottom: 1px solid $gray-light;
  }
  &.column-border {
    border-right: 1px solid $gray-light;
    border-top: 1px solid $gray-light;
    th, td {
      border-left: 1px solid $gray-light;
    }
  }

  th {
    text-transform: uppercase;
    font-size: 12px;
    text-align: left;
    font-weight: 600;
    color: $gray-dark;
    position: relative;
    border-width: 2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    &.action {
      width: 110px;
    }
    &.sortable {
      cursor: pointer;
      padding-right: 20px;
      &:after {
        display: block;
        font-family: FontAwesome;
        position: absolute;
        right: 10px;
        top: 10px;
        font-size: 14px;
        content: "\f0dc";
        opacity: 0.2;
      }
      &.asc:after {
        content: "\f0de";
        opacity: 0.8;
        top: 14px;
      }
      &.desc:after {
        content: "\f0dd";
        opacity: 0.8;
      }
    }
  }
  &.striped {
    tbody {
      tr:nth-child(even) {
        background-color: rgba(33, 33, 33, 0.05);
      }
    }
  }
  &.table-hover {
    tbody {
      tr:hover:not(.filter-row) {
        background-color: rgba(33, 33, 33, 0.05);
      }
    }

  }
}

/*Table layout without table tag*/
.table {
  display: table;
  table-layout: fixed;
  width: 100%;
  border-top: 1px solid $gray-light;
  .table-row {
    display: table-row;
  }
  .table-cell {
    display: table-cell;
    padding: 8px;
    border-bottom: 1px solid $gray-light;
  }
  .table-header {
    display: table-header-group;
    .table-cell {
      background-color: $gray-lighter;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: bold;
      &.select-all {
        width: 42px;
      }
    }
  }
  .table-body {
    display: table-row-group;
  }
  &.column-border {
    border-right: 1px solid $gray-light;
  }
  &.column-border .table-cell {
    border-left: 1px solid $gray-light;
  }
  &.striped {
    .table-body {
      .table-row:nth-child(even) {
        background-color: $gray-lighter;
      }
    }
  }
  &.table-hover {
    .table-body {
      .table-row:hover {
        background-color: $gray-lighter;
      }
    }
  }
  .table-footer {
    display: table-footer-group;
  }
}