@import "_constant";

.tabs{
    background: $white;
    .tab-nav{
        height: 44px;
        border-bottom: 1px solid $gray-light;
        ul{
            display: flex;
            li{
                padding: 10px 20px;
                cursor: pointer;
                color: $gray-dark;
                &.active{
                    border-bottom: 3px solid $success;
                    color: $gray-darker;
                    cursor: default;
                }
            }
        }
    }
}
