@import "_constant";

[data-tooltip]{
    position: relative;
    display: inline-block;
    cursor: default;
    &:hover{
        &:before, &:after{
            position: absolute;
            z-index: 100;
        }

        &:after{
            background: $gray-darker;
            border-radius: 4px;
            color: $white;
            content: attr(data-tooltip);
            font-size: 14px;
            padding: 10px;
            white-space: nowrap;
        }
        &:before{
            content: '';
            border: 6px solid transparent;
        }
    }
    &[data-pos="top"]{
        &:hover{
            &:before, &:after{
                bottom: 100%;
                left: 50%;
                -webkit-transform: translateX(-50%);
                -ms-transform: translateX(-50%);
                transform: translateX(-50%);
            }
            &:after{
                margin-bottom: 6px;
            }
            &:before{
                border-top-color: $gray-darker;
                border-bottom-width: 0;
            }
        }
    }
    &[data-pos="bottom"]{
        &:hover{
            &:before, &:after{
                left: 50%;
                top: 100%;
                -webkit-transform: translateX(-50%);
                -ms-transform: translateX(-50%);
                transform: translateX(-50%);
            }
            &:after{
                margin-top: 6px;
            }
            &:before{
                border-bottom-color: $gray-darker;
                border-top-width: 0;
            }
        }
    }
    &[data-pos="left"]{
        &:hover{
            &:before, &:after{
                top: 50%;
                right: 100%;
                -webkit-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                transform: translateY(-50%);
            }
            &:after{
                margin-right: 6px;
            }
            &:before{
                border-left-color: $gray-darker;
                border-right-width: 0;
            }
        }
    }
    &[data-pos="right"]{
        &:hover{
            &:before, &:after{
                top: 50%;
                left: 100%;
                -webkit-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                transform: translateY(-50%);
            }
            &:after{
                margin-left: 6px;
            }
            &:before{
                border-right-color: $gray-darker;
                border-left-width: 0;
            }
        }
    }
}

