@import "_constant";
html
{
    height: 100%;
}
body
{
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-style: normal;
    line-height: 1.5;
    color: $gray-darker;
    background-color: #edf1f5;
    height: 100%;
    position: relative;
    overflow-x: hidden;
}

a{
    color: $primary-light;
    text-decoration: none;
    &:focus, &:hover{
        color: $primary;
        text-decoration: underline;
    }
}

img{
    vertical-align: middle;
}

h1, h2, h3, h4, h5, h6{
    font-weight: normal;
}

h1{
    font-size: 36px;
}
h2{
    font-size: 30px;
}
h3{
    font-size: 24px;
}
h4{
    font-size: 18px;
}
h5{
    font-size: 14px;
}
h6{
    font-size: 12px;
}


.font-10 {
    font-size: 10px;
}

.font-11 {
    font-size: 11px;
}

.font-12 {
    font-size: 12px;
}

.font-13 {
    font-size: 13px;
}

.font-15 {
    font-size: 15px;
}

.font-16 {
    font-size: 16px;
}

.font-18 {
    font-size: 18px;
}

.font-20 {
    font-size: 20px;
}

.font-21 {
    font-size: 21px;
}

.font-22 {
    font-size: 22px;
}

.font-24 {
    font-size: 24px;
}


